#MainHomeContainer{
  margin-left: 50%;
  text-align: center;
  margin-right: 4%;
  width: 50%;
  height: 100%;
  border-left: grey 1px solid;
}

.large-input {
  width: 500px;
}

.formcontainer-div {
  display: flex;
  height: 100%;
}

.displayflex {
  display: flex;
  margin-bottom: 20px;
}

.space-left {
  margin-left: 10px;
  width: 60px
}

.space-top {
  margin-top: 20px;
}

.space-bottom {
  margin-bottom: 30px;
}

.full-width{
  width: 100%;
}

.sixtywidth {
  width: 60%;
  min-width: 60%;
  margin: 20px;
}

.centeralign {
  text-align: center;
}

.image-logo {
  padding-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
